nav{
    display: flex;
    gap: 25%;
    position: fixed;
    /* grid-template-rows: auto; */
width: 80%;
height: 80px;
background-color: #374;
text-align: center;
margin-left: 10%;
border-radius: 10px;
}
p{
    font-size: 20px;
    color: #fff;
}
img{
    border-radius: 5%;
}
.home{
    margin-left: 20px;
}
