.pcontainer{
    width: 30%;
    margin-top: 1%;
    margin-left: 1%;
    padding: 3%;
    border: 1px solid black;
    border-radius: 2px;
}
.imgdiv{
    padding: auto;
    width: 80%;
    /* border: 1px solid red; */
}
.cartBtn{
    width: 35%;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 132, 255);
    color: #fff;
}
